<nav class="navbar navbar-fixed-top navbar-inverse bs-docs-nav" role="banner">
	<div class="navbar-header">
		<button type="button" data-toggle="collapse" data-target=".bs-navbar-collapse" class="navbar-toggle">
			<span class="sr-only">Toogle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
    
    <div class="navbar-brand">
      <a href="http://190.41.246.91/web/"><img id="icrlogo" src="/media/resource/images/icrlogo.png" ></a>
      <a href="{% url 'vw_logistica_home' %}">
        Modulo Logistica
      </a>  
    </div>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
  <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'vw_logistica_home' %}"><span class="glyphicon  glyphicon-home"></span></a></li>
      <!--<li><a href="#">Link</a></li>-->
      <!-- Suminstro -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sumnistro <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'vw_aprobar_suministro' %}">Aprobar Suminsitro</a></li>
          <li><a href="{% url 'vw_cotiza_suministro' %}">Generar Cotización</a></li>
        </ul>
      </li>
      <!-- Cotizacion -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cotizaciones <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'vw_cotizacion_simple' %}">Cotización Materiales</a></li>
          <li><a href="{% url 'vw_list_cotizacion' %}">Comparar Cotización</a></li>
          <li><a href="{% url 'vw_list_key_cotizacion' %}">Lista de Cotizacion Keys</a></li>
          <li><a href="{% url 'vw_order_buy_single' %}">Orden de Compra</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" data-toggle="dropdown" class="dropdown-toggle"> Generales <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li class="dropdown-header" role="presentation"><strong>PROVEEDORES</strong></li>
          <li><a href="{% url 'vw_supplier' %}">Proveedores</a></li>
          <li><a href="{% url 'vw_supplier_login_upkeep' %}">Login Proveedor</a></li>
          <li class="dropdown-header" role="presentation"><strong>REPORTES</strong></li>
          <li><a href="{% url 'vw_list_request_quot' %}">Cotizaciones</a></li>
          <li><a href="{% url 'vw_list_orders_buy' %}">Orden de Compras</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ request.session.nomicr }} <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>
            <div class="bs-user-data">
                <h6><strong>
                Dni : {{ request.session.dniicr }}<br />
                user: {{ request.session.usericr }}<br />
                Cargo: {{ request.session.caricr }}
              </strong>
                </h6>
            </div>
          </li>
          <li><a href="{% url 'vw_logout' %}"><span class="glyphicon glyphicon-log-out"></span> Cerrar Session</a></li>
        </ul>
      </li>
    </ul>
  </nav><!-- /.navbar-collapse -->
</nav>