{% extends 'base.html' %}
{% block title %}Orden de Compra{% endblock %}
{% block script %}
<script src="/media/js/autoComplete.js"></script>
<script src="/media/js/logistica/ordenbuysimple.js"></script>
{% endblock %}
{% block style %}
<style>
  .ui-autocomplete {
  	margin-left: 1em;
    max-height: 16em;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 16em;
  }
  </style>
{% endblock %}
{% block content %}
<div class="container">
	<div class="well">
		<h3 class="text-primary">Orden de Compra - Materiales</h3>
		<input type="hidden" id="dni" value="{{request.session.dniicr}}">
		<div class="row show-grid">
			<div class="col-md-12">
				<div class="bs-callout bs-callout-info">
					<div class="row show-grid">
						<div class="col-md-12">
							<div class="btn-group">
								<button type="button" class="btn btn-warning tblack" onClick="btnsearch();">
									<span class="glyphicon glyphicon-search"></span>
									<span class="visible-md visible-lg visible-sm">Buscar</span>
								</button>
								<button type="button" class="btn btn-warning tblack" onClick="showfileupload();">
									<span class="glyphicon glyphicon-file"></span>
									<span class="visible-md visible-lg visible-sm">Leer Archivo</span>
								</button>
								<button type="button" class="btn btn-warning tblack" onClick="list_tmp_compra();">
									<span class="glyphicon glyphicon-list"></span>
									<span class="visible-md visible-lg visible-sm">Listar Detalle</span>
								</button>
								<button type="button" class="btn btn-warning tblack" onClick="deletetmp();">
									<span class="glyphicon glyphicon-remove"></span>
									<span class="visible-md visible-lg visible-sm">Eliminar Tmp</span>
								</button>
								<button type="button" class="btn btn-warning tblack" onClick="showCotiza();">
									<span class="glyphicon glyphicon-floppy-disk"></span> 
									<span class="visible-md visible-lg visible-sm">Guardar Cambios</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="col-md-6">
					<div class="ui_widget form-group has-info">
						<label for="mat" class="control-label">Descripción</label>
						<select name="mat" id="combobox" class="form-control hide">
							{% for row in lmat %}
							<option value="{{row.matnom}}">{{row.matnom}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group has-info">
						<label for="med" class="control-label">Medida</label>
						<select name="med" id="med" class="form-control" onClick="brinddetailt();"></select>
					</div>
				</div>
				<div class="col-md-6">
					<div class="well c-red">
						<div class="table-responsive">
							<table class="table table-condensed twhite">
								<tbody id="tdet"></tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="well c-danger">
						<div class="row show-grid">
							<div class="col-md-3">
								<div class="form-group has-error">
									<label for="cant" class="control-label">Cantidad</label>
									<input type="number" class="form-control" min="1" max="9999" id="cant">
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-group has-error">
									<label for="pre" class="control-label">Precio</label>
									<input type="number" class="form-control" min="1" max="9999" id="pre">
								</div>
							</div>
							<div class="col-md-6">
								<button type="button" class="btn btn-lg btn-danger" onClick="addmatmtmp();"><span class="glyphicon glyphicon-plus"></span> Agregar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<div class="row show-grid">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-hover table-condensed table-c-danger">
						<thead>
							<tr>
								<th></th>
								<th>Codigo</th>
								<th>Descripción</th>
								<th>Medida</th>
								<th class="text-center">Unidad</th>
								<th class='text-center'>Cantidad</th>
								<th class='text-center'>Precio</th>
								<th class='text-center'>Editar</th>
								<th class='text-center'>Eliminar</th>
							</tr>
						</thead>
						<tbody id="dtbl">
							
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade in" id="mbuy">
	<div class="modal-dialog largemo">
		<div class="modal-content c-success">
			<div class="modal-header">
				<a data-dismiss="modal" class="close">&times;</a>
				<h3 class="text-warning">Generar Orden de Compra</h3>
			</div>
			<div class="modal-body">
				<div class="row show-grid">
					<div class="col-md-2">
						<div class="form-group has-info">
							<label for="cdni" class="control-label">DNI</label>
							<input type="text" class="form-control input-sm" value="{{request.session.dniicr}}" disabled>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group has-info">
							<label for="cdni" class="control-label">Nombres</label>
							<input type="text" class="form-control input-sm" value="{{request.session.nomicr}}" disabled>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group has-info">
							<label class="control-label">Proveedor</label>
							<select name="pro" id="pro" class="form-control input-sm">
								{% for row in lpro %}
									<option value="{{row.rucproveedor}}">{{row.razonsocial}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group has-info">
							<label class="control-label">Documento de Pago</label>
							<select name="doc" id="doc" class="form-control input-sm">
								{% for row in doc %}
									<option value="{{row.documentoid}}">{{row.docnom}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group has-info">
							<label class="control-label">Forma de Pago</label>
							<select name="pag" id="pag" class="form-control input-sm">
								{% for row in pag %}
									<option value="{{row.pagoid}}">{{row.nompag}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group has-info">
							<label for="cdni" class="control-label">Lugar de Entrega</label>
							<input type="text" id="lug" class="form-control input-sm" value="Jr. Gral. Jose de San Martin Mz. E Lote 6 Huachipa Lurigancho Lima 15, Peru" >
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group has-info">
							<label class="control-label">Moneda</label>
							<select name="mo" id="mo" class="form-control input-sm">
								{% for row in mo %}
									<option value="{{row.monedaid}}">{{row.nomdes}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group has-info">
							<label for="cdni" class="control-label">Fecha</label>
							<input type="text" id="fec" class="form-control input-sm" value="" >
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group has-info">
							<label for="cont" class="control-label">Contacto</label>
							<input name="cont" id="cont" class="form-control input-sm" />
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-warning pull-left tblack" data-dismiss="modal">
					<span class="glyphicon glyphicon-remove"></span> Cancelar</button>
				<button class="btn btn-primary" onClick="savedOrderbuy();">
					<span class="glyphicon glyphicon-saved"></span> Generar Orden de Compra</button>
			</div>
		</div>
	</div>
</div>
<div id="mreadxls" class="modal fade in">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body" style="margin-bottom: -2em;">
				<a data-dismiss="modal" class="close">&times;</a>
				<h4 class="text-primary">Cargar y Leer archivo Xls</h4>
				<div id="aup" class="alert alert-block alert-info text-center">
					<strong>
						<a href="javascript:showopenupfile();">Cargar Archivo Aqui</a>
						<input type="file" class="hide" id="upfile" accept="application/xls,application/vnd.ms-excel">
						<input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
					</strong>
				</div>
				<div id="progressfile" class="hide">
					<em id="proinfo">Espere por favor, estamos trabajando.</em>
					<div class="progress progress-striped active">
					 	<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
							<span class="sr-only">20% Complete</span>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-warning pull-left tblack" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
				<a href="/media/resource/templates/compra-single.xls" target="_blank" class="btn btn-warning pull-left tblack"><span class="glyphicon glyphicon-download"></span> Plantilla</a>
				<button class="btn btn-primary" onClick="uploadFileBuy();"><span class="glyphicon glyphicon-upload"></span> Cargar y leer</button>
			</div>
		</div>
	</div>
</div>
<div class="modal-backdrop modal-backdrop-white full-screen hide"></div>
{% endblock %}